@import "node_modules/bootstrap/scss/bootstrap";

button {
    background-color: #1DB954; 
    /*font-size: 16px;
    line-height: 1;
    border-radius: 500px;
    padding: 19px 56px 21px;
    margin: 32px 0; */
    border-radius: 100px; 
    -moz-border-radius: 32px; 
    -webkit-border-radius: 32px; 
      font-weight:700;
      text-align:center;
      vertical-align:middle;
    border-collapse: separate; 
  
  }
  